<settings>
   <setting id="community_list" type="bool" label="Use Community List" default="true"/>
   <setting id="save_location" type="folder"  label="Select a location to save files." default="" enable="eq(-1,true)"/>
   <setting id="xml_file" type="file"  source="files" label="Choose File" default="" />
   <setting id="mirror_link" type="bool" label="Use lower quality mirror if available" default="false"/>
   <setting id="mirror_link_low" type="bool" label="Use lowest quality mirror if available" default="false" enable="eq(-1,false)"/> 
</settings>